

* {
   margin: 0px;
 }
 
 html {
   background-color: #162532;
   color: white;
   font-family: "Mate SC", serif;
   font-size: 20px;
 }
 
 .nav-plays span {
   font-family: "Mate SC", serif;
   font-size: 32px;
   position: absolute;
   left: 0;
 }
 
 .nav-plays {
   color: white;
   height: 40px;
   display: flex;
   justify-content: center;
   padding-right: 75px;
   align-items: center;
   font-size: 32px;
 }
 
 /* .nav-plays input {
   margin-left: 250px;
 } */
 
 .left-nav-bar {
   display: grid;
   width: 250px;
   position: absolute;
   top: 0;
   bottom: 50;
   left: 0;
   margin-top: 20%;
   height: 20%;
   font-family: "Mate SC", serif;
   border-right: 2px solid gray;
 }
 
 .centerinfo {
   width: 500px;
   display: flex;
   justify-content: center;
   align-items: center;
   margin: auto;
   font-size: 18px;
   font-family: "Mate SC", serif;
 }
 
 button {
   background-color: rgba(255, 0, 0, 0);
   color: white;
   border-radius: 250px;
 }
 
 .friendslist {
   width: 300px;
   position: relative;
   left: 75%;
   bottom: 400px;
 }
 
 .embedded-clips {
   /* postion: relative; */
   display: grid;
   justify-content: center;
 }
 
 #friend-list {
   display: block;
   margin-top: 20%;
   padding: 0;
   width: 200px;
   height: 20%;
   background: #eee;
   list-style-type: none;
   position: fixed;
   top: 0;
   right: 0;
 }
 
 .friend {
   width: 200px;
   height: 40px;
   background: #162532;
   border: 3px solid gray;
   cursor: pointer;
   display: flex;
   align-items: center;
   /*   float: right; */
 }
 
 .friend img {
   width: 10px;
   height: 10px;
   border-radius: 30px;
   border: 2px solid #aaa;
   object-fit: cover;
   margin-left: 5px;
   margin-right: 10px;
 }
 
 .friend .name {
   display: flex;
   justify-content: center;
   align-items: center;
   align-content: center;
   font-size: 18px;
 }
 
 .friend.selected {
   background: Gray;
   color: white;
 }
 
 .friend.selected img {
   border-color: white;
 }
 
 .friend:not(.selected):hover {
   background: gray;
 }
 
 .bottom-nav {
   list-style-type: none;
   padding-right: 150px;
   margin: 10px;
   padding-left: 50px;
   font-size: 12px;
   border-top: 2px solid grey;
   padding-top: 20px;
 }
 
 .bottom {
   position: relative;
   bottom: 0;
 }
 
 .bottom-border {
   margin-top: 5px;
   border-bottom: 2px solid gray;
 }
 
 .search-bar {
   position: relative;
   margin-right: 50px;
 }
 
 a {
   color: white;
 }
 
 #login {
   margin-left: 250px;
 }
 
 /* #sign-up {
 }
 
 #password {
 }
 
 #username {
 } */
 
 .nav-plays span {
   font-weight: bold;
 }
 .aboutme {
   display: grid;
   justify-content: center;
   padding-bottom: 50px;
 }
 
 .gray-font {
   color: gray;
   font-size: 15px;
 }
 .aboutme img {
   width: 45px;
   height: 45px;
   border-radius: 50%;
 }
 
